@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#main {
    background-color: #ffe139;
    padding-bottom: 50px;
}

* {
    font-family: 'Fjalla One', sans-serif;
}
#rec a {
    text-decoration: none;
    color:black
}

#navbar {
    position: fixed;
    top: 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    border: 3px solid;
    background-color: white;
    
    
    }
    
    .navlinks {
        font-size: 20px;
        border: 30px 10px solid;
    }

.simulations {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }
    
 .resources {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }
    
.contact {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }

    .simulations:hover {
        color: red;
        font-size: 22px;
    }
    
    .resources:hover {
        color: red;
        font-size: 22px;
    }
    
    .contact:hover {
        color: red;
        font-size: 22px;
    }
    
    .navlinks li {
        display: inline-block;
        list-style: none;
    }   
    
    .navlinks li a{
        color: black;
        text-decoration: none;
    }

#welcoming {
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

#intros {
  background-color: #ffe139;
  padding-top: 20px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.gifs {
  border: 15px outset rgb(240,255,240);
  width: 25%;
  height: 100%;
  margin: 5px;
}

#strength {
  width: 90%;
  height: 90%;
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 30px outset skyblue;
}

#welcometext {
  padding-top: 100px;
}

#header2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

h3 {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.welcomefacts {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: 3px solid black;
  
}

.lists {
  margin: 10px;
}

#foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 400px;
  padding-bottom: 400px;
  background-color: rgb(3, 7, 90);
  color: white;
  font-size: 20px;
  font-weight: lighter;
  

a {
  color: rgb(219, 219, 219);
  font-weight: bold;
}

