@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    font-family: 'Fjalla One', sans-serif;
}
#rec a {
    text-decoration: none;
    color:black
}

#navbar {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    border: 3px solid;
    }
    
    .navlinks {
        font-size: 20px;
        border: 30px 10px solid;
    }

.simulations {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }
    
 .resources {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }
    
.contact {
        color: black;
        padding-right: 50px;
        transition: 0.3s ease;
    }

    .simulations:hover {
        color: red;
        font-size: 22px;
    }
    
    .resources:hover {
        color: red;
        font-size: 22px;
    }
    
    .contact:hover {
        color: red;
        font-size: 22px;
    }
    
    .navlinks li {
        display: inline-block;
        list-style: none;
    }   
    
    .navlinks li a{
        color: black;
        text-decoration: none;
    }

 img {
        width: 100px;
        height: 100px;
    }

#images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
#options {
    display: grid;
}

p {
    display:flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
}